<h1 align='center'>Users</h1>

<% @users.each do |user| %>
  <div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
      <div class='well well-lg'>
        <div class='user-title'>
          <%= link_to user.username, user_path(user) %>
        </div>
        <div class='user-email'>
          <%= user.email %>
        </div>
      </div>
    </div>
  </div>
<% end %>
