<div class='row'>
  <div class='col-md-4 col-md-offset-4 center'>
    <%= gravatar_for(@user,150) %>
  </div>
</div>
<h1 align='center'><%= @user.username %>'s page</h1>

<%= render 'articles/article_listing', obj: @user.articles %>
