<div class='row'>
  <div class='col-md-4 col-md-offset-4 center'>
    <%= gravatar_for @user %>
  </div>
</div>
<h1 align='center'><%= @user.username %>'s Page</h1>

<%= render 'articles/article', obj: @user.articles %>
