<div class='container'>
  <footer class='footer'>
    <small>
      Copyright &copy; <%= link_to 'William B. Hauck', 'http://wbhauck.com' %>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
  </footer>
</div>
